@import "/styles/scss/_variables";
@import "/styles/scss/_mixin";
@import "/styles/scss/_utilities";


.box_items{
    margin: 0 auto;
    width: $wm;
    .heading{
        margin: 0 auto;
        width: $wm;
        @include fts(ja, lead);
    }
    ul.items{
        margin: 100px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 75px 20px;
        li{
            width: $wxxs;
            .visual_item{
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }
            .title_item{
                margin: 30px 0 0;
                @include fts(ja, bold);
            }
            .inner_item{
                margin: 15px 0 0;
                @include fts(ja, text);
                table{
                    tbody{
                        tr{
                            th{
                                width: 90px;
                            }
                        }
                    }
                }
            }
        }
    }
}