@import "/styles/scss/_variables";
@import "/styles/scss/_mixin";
@import "/styles/scss/_utilities";


@include mq(s) {
    .visual_item{
        position: relative;
        .soldout{
            width: 100%;
            height: 100%;
            color: c(red, m);
            @include fts(en, title);
            letter-spacing: 1.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
        }
        img{
            width: 100%;
            height: auto;
            border-radius: $baseRadius_sp;
        }
    }
    .title_item{
        margin: 20px 0 0;
        @include fts(ja, bold);
        line-height: 100%;
    }
    .inner_item{
        margin: 15px 0 0;
        @include fts(ja, text);
        line-height: 125%;
        table{
            tbody{
                tr{
                    margin: 0 0 5px;
                    display: block;
                    vertical-align: top;
                    th,td{
                        display: block;
                    }
                    th{
                    }
                }
            }
        }
    }
}

@include mq(m) {
    .visual_item{
        position: relative;
        .soldout{
            width: 100%;
            height: 100%;
            color: c(red, m);
            @include fts(en, title);
            letter-spacing: 1.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
        }
        img{
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }
    .title_item{
        margin: 30px 0 0;
        @include fts(ja, bold);
    }
    .inner_item{
        margin: 15px 0 0;
        @include fts(ja, text);
        table{
            tbody{
                tr{
                    th{
                        width: 90px;
                    }
                }
            }
        }
    }
}
